.ngdialog.ngdialog-theme-dialog-small {
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.ngdialog.ngdialog-theme-dialog-small .ngdialog-content {
  background: #fff;
  color: #444;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 30%;
  max-height: 85vh;
  overflow: auto;
  border-radius:5px;
}

.ngdialog.ngdialog-theme-dialog-small .ngdialog-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ngdialog.ngdialog-theme-dialog-small .ngdialog-close:before {
  background: transparent;
  color: #bbb;
  content: "\00D7";
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.ngdialog-theme-dialog-small .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-dialog-small .ngdialog-close:active:before {
  color: #777;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-dialog-small .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}