<div class="container-fluid" id="applications">
    <div class="row">
        <div class="col-xs-12 main-title">
            <span ng-bind="devProfile.name"></span>{{devProfile.name ? "'s" : "Your" }} Apps
        </div>
        <div class="fetching">
            <div ng-show="fetching">
                <span class="fa fa-refresh ab-spin"></span>
            </div>
        </div>
        <div class="form-horizontal col-md-6 col-xs-12 create-app" ng-class="noApps?'one':'many' ">
            <div class="row wrapper well test" ng-submit="createApp(newAppname); newAppname ='' ;">
                <form>
                    <div class="form-group new-app input-line">
                        <div class="col-xs-12">
                            <input type="text"
                                   pattern="^[a-z0-9_]*$"
                                   ng-required="true"
                                   class="form-control"
                                   placeholder="App name"
                                   ng-model="newAppname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="form-control btn btn-success" type="submit" id="createuserapp">
                                Create App
                            </button>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 tip">
                        <span class="text-info">
                            Please use only lowercase letters (a-z), numbers, and underscore.
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-horizontal col-md-6 col-xs-12" ng-repeat="(app, obj) in apps" ng-class="fetching ? 'grayed':''" ng-show="deleting !== app">
            <div class="row wrapper well">
                <div class="form-group input-line">
                    <label class="col-lg-3 col-xs-4 control-label">App name</label>
                    <div class="col-lg-9 col-xs-8">
                        <input type="text"
                               class="form-control"
                               placeholder="App name"
                               readonly ng-value="app">
                    </div>
                </div>
                <div class="form-group input-line">
                    <label for="inputAppsecret" class="col-lg-3 col-xs-4 control-label">App Secret</label>
                    <div class="col-lg-9 col-xs-8">
                        <input type="text"
                               class="form-control"
                               placeholder="App Secret"
                               readonly ng-value="obj.secret" />
                    </div>
                </div>
                <div class="form-group input-line manage-url">
                    <div class="col-lg-7 col-md-6 col-xs-7 url">
                        <div>
                            <a ng-click="goToBrowser(appToURL(app, api));$rootScope.currentApp=app;"
                               ng-bind="appToURL(app, api)"> </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-xs-5 text-right">
                        <a class="btn btn-sm delete" href="" ng-click="deleteApp(app)">Delete</a>
                        <a class="btn btn-sm manage" ng-href="#{{app}}/stats">Manage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="get-started">
        <div class="title" ng-show="noCalls">
            <span>Get started now!</span>
        </div>
        <div class="steps">
            <div class="col-xs-12 col-sm-4" ng-hide="noCalls">
                <a href="http://docs.appbase.io/docs/getting-started.html">
                    <div class="circle api first"><span class="fa fa-rocket"></span></div>
                </a>
                <h2>Quick start</h2>
                <span class="desc">Tips on getting started with Appbase</span>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a ng-href="{{noCalls?'/tutorial.html':'https://docs.appbase.io'}}">
                    <div class="circle learn" ng-class="noCalls?'first':''">
                        <span class="fa" ng-class="noCalls ? 'fa-list-ol' : 'fa-book'"></span>
                    </div>
                </a>
                <h2>{{noCalls ? 'Tutorial' : 'Docs'}}</h2>
                <span class="desc">Quickly get a hold of Appbase<br>with the help of our {{noCalls ? 'interactive tutorial' : 'documentation'}}</span>
            </div>
            <div class="col-xs-12 col-sm-4" ng-show="noCalls">
                <a href="" ng-click="firstAPICall()">
                    <div class="circle api"><span class="fa fa-check-square-o"></span></div>
                </a>
                <h2>First API Call</h2>
                <span class="desc">Make your first API call in minutes</span>
            </div>

            <div class="col-xs-12 col-sm-4">
                <a href="" ng-click="examplesModal()">
                    <div class="circle etc"><span class="fa fa-file-code-o"></span></div>
                </a>
                <h2>Examples</h2>
                <span class="desc">Check out our extensive collection</span>
            </div>
        </div>
    </div>
</div>
