<div class="container-fluid" id="applications">
    <div class="row">
        <div class="col-xs-12 main-title">
            <span ng-bind="devProfile.name"></span>'s Apps
        </div>
        <div class="form-horizontal col-md-6 col-xs-12">
            <div class="row wrapper well test" ng-submit="createApp(newAppname); newAppname ='' ;">
                <form>
                    <div class="form-group new-app input-line">
                        <div class="col-xs-12">
                            <input type="text"
                                   pattern="^[a-z0-9_]*$"
                                   ng-required="true"
                                   class="form-control"
                                   placeholder="App name"
                                   ng-model="newAppname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="form-control btn btn-success" type="submit" id="createuserapp">
                                Create App
                            </button>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 tip">
                        <span class="text-info">
                            Please use only lowercase letters (a-z), numbers, and underscore.
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-horizontal col-md-6 col-xs-12 loading" ng-hide="!fetching">
            <div class="row wrapper well">
            Loading...
            </div>
        </div>
        <div class="form-horizontal col-md-6 col-xs-12 appear" ng-repeat="(app, obj) in apps">
            <div class="row wrapper well">
                <div class="form-group input-line">
                    <label class="col-lg-3 col-xs-4 control-label">App name</label>
                    <div class="col-lg-9 col-xs-8">
                        <input type="text"
                               class="form-control"
                               placeholder="App name"
                               readonly ng-value="app">
                    </div>
                </div>
                <div class="form-group input-line">
                    <label for="inputAppsecret" class="col-lg-3 col-xs-4 control-label">App Secret</label>
                    <div class="col-lg-9 col-xs-8">
                        <input type="text"
                               class="form-control"
                               placeholder="App Secret"
                               readonly ng-value="obj.secret" />
                    </div>
                </div>
                <div class="form-group input-line manage-url">
                    <div class="col-lg-9 col-xs-9 url">
                        <div>
                            <a ng-click="goToBrowser(appToURL(app, api));$rootScope.currentApp=app;"
                               ng-bind="appToURL(app, api)"> </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-3 text-right">
                        <a class="btn btn-sm manage" ng-href="/developer#/{{app}}/stats">Manage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>