<div class="container-fluid" id="applications">
    <div class="row">
        <div class="col-xs-12 main-title">
            <span ng-bind="devProfile.name"></span>{{devProfile.name ? "'s" : "Your" }} Apps
        </div>
        <div class="fetching">
            <div ng-show="fetching">
                <span class="fa fa-refresh ab-spin"></span>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <div class="form-horizontal col-md-8 col-xs-12 create-app col-md-offset-2">
                <div class="row wrapper well test" ng-submit="createApp(newAppname); newAppname ='' ;">
                    <form>
                        <div class="form-group new-app input-line">
                            <div class="col-xs-12">
                                <input type="text"
                                       pattern="^[a-z0-9_]*$"
                                       ng-required="true"
                                       class="form-control"
                                       placeholder="App name"
                                       ng-model="newAppname" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="form-control btn btn-success" type="submit" id="createuserapp">
                                    Create App
                                </button>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 tip">
                            <span class="text-info">
                                Use only lowercase letters (a-z), numbers, and underscores.
                            </span>
                        </div>
                    </form>
                    <table class="table table-hover" ng-show="apps.length">
                        <tr>
                            <th class="name">Name</th>
                            <th>Total records</th>
                            <th>Total calls</th>
                            <th class="copy text-center">Secret</th>
                        </tr>
                        <tr ng-repeat="app in apps"
                            ng-class="fetching ? 'grayed':''"
                            ng-show="deleting !== app.name" >

                            <td ng-click="goToDash(app.name)" ng-bind="app.name" class="name"></td>
                            <td ng-click="goToDash(app.name)">
                                <span ng-bind="app.stats.records"
                                      ng-class="!app.stats.records && app.stats.records !== 0 ? 'fa fa-circle-o-notch fa-spin' : ''">
                                </span>
                            </td>
                            <td ng-click="goToDash(app.name)">
                                <span ng-bind="app.stats.calls"
                                      ng-class="!app.stats.calls && app.stats.calls !== 0 ? 'fa fa-circle-o-notch fa-spin' : ''">
                                </span>
                            </td>
                            <td class="copy">
                                <a class="fa text-center"
                                   ng-class="app.secret ? (app.copied ? 'fa-check-square-o' : 'fa-clipboard') : 'fa-ellipsis-h'"
                                   clip-copy="app.secret"
                                   clip-click="copy(app)"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title="Tooltip on top">
                                </a>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div class="get-started" ng-show="noCalls">
        <div class="title">
            <span>Get started now!</span>
        </div>
        <div class="steps">
            <div class="col-xs-12 col-sm-4">
                <a href="/tutorial.html" target="_blank">
                    <div class="circle learn first">
                        <span class="fa fa-list-ol"></span>
                    </div>
                </a>
                <h2>Live Tutorial</h2>
                <span class="desc">Build a chat app using our online tutorial in 4 steps</span>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="" ng-click="firstAPICall()">
                    <div class="circle api"><span class="fa fa-check-square-o"></span></div>
                </a>
                <h2>Make the first API call</h2>
                <span class="desc">Create your first app, and make the first API call in under 5 minutes</span>
            </div>

            <div class="col-xs-12 col-sm-4">
                <a href="" ng-click="examplesModal()">
                    <div class="circle etc"><span class="fa fa-file-code-o"></span></div>
                </a>
                <h2>Example Recipes</h2>
                <span class="desc">Check out the showcase of things built with Appbase</span>
            </div>
        </div>
    </div>
    <div class="get-started" ng-hide="noCalls">
        <div class="steps">
            <div class="col-xs-12 col-sm-4">
                <a href="http://docs.appbase.io/#/v2.0/javascript/quick-start" target="_blank">
                    <div class="circle api first"><span class="fa fa-rocket"></span></div>
                </a>
                <h2>Quick start</h2>
                <span class="desc">Check out the Javascript quick start guide to get started with Appbase's realtime streams and search</span>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="" ng-click="docsModal()">
                    <div class="circle learn">
                        <span class="fa fa-book"></span>
                    </div>
                </a>
                <h2>Docs</h2>
                <span class="desc">Now that you have jumpstarted to Appbase, take some time to look into the docs</span>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="" ng-click="examplesModal()">
                    <div class="circle etc"><span class="fa fa-file-code-o"></span></div>
                </a>
                <h2>Example Recipes</h2>
                <span class="desc">Check out the showcase of things built with Appbase</span>
            </div>
        </div>
    </div>
</div>
