<div class="col-xs-12" id="stats">
	<div ng-show="noData" class="no-data">
		<div class="sad">:(</div>
		<span>No data to display.</span>
	</div>
	<div ng-show="!noData">
		<div class="col-xs-12 col-md-8 wellp">
			<h2 class="graph-title">Usage</h2>
			<ul class="nav-tab">
			  <li>
			  	<a ng-click="!(strike.week || strike.month || graphActive === 'week') && graph('week')"
			  	   ng-class="{'active': graphActive === 'week', 'strike': strike.week || strike.month}">
					Week
			  	</a></li>
			  <li>
			  	<a ng-click="!(strike.month || graphActive === 'month') && graph('month')"
			  	   ng-class="{'active': graphActive === 'month', 'strike': strike.month}"> Month
			  	</a></li>
			  <li><a ng-click="(graphActive !== 'all') && graph('all')"
			         ng-class="{'active': graphActive === 'all'}"> All
			  </a></li>
			</ul>
			<div class="graph">
				<highchart id="chart1" config="chartConfig"></highchart>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="wellp usage">
				<div class="plan">
					<h3>API Calls</h3>
					<span>{{chart ? commas(chart.month) : ''}} / {{commas(cap)}}</span>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="{{((chart?(chart.month?chart.month:0):0)*100)/(cap?cap:1)}}" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 push">
			<div class="wellp usage">
				<div class="plan">
					<div><h3>Vertices</h3>
					<span>{{chart ? commas(vert) : ''}}</span></div>
					
					<div><h3>Edges</h3>
					<span>{{chart ? commas(edges) : ''}}</span></div>
				
				</div>
			</div>
		</div>
	</div>
</div>