<ng-include src="'/developer/html/manage.html'"></ng-include>
<div class="col-xs-12" id="stats">
	<div ng-show="data.noData" class="no-data">
		<div class="sad">:(</div>
		<span>No data to display.</span>
	</div>
	<div ng-show="!data.noData">
		<div class="col-xs-12 col-md-8 wellp">
			<h2 class="graph-title">Usage</h2>
			<ul class="nav-tab">
			  <li>
			  	<a ng-click="!(data.strike.week || data.strike.month || data.graphActive === 'week') && graph('week')"
			  	   ng-class="{'active': data.graphActive === 'week', 'strike': data.strike.week || data.strike.month}">
					Week
			  	</a></li>
			  <li>
			  	<a ng-click="!(data.strike.month || data.graphActive === 'month') && graph('month')"
			  	   ng-class="{'active': data.graphActive === 'month', 'strike': data.strike.month}"> Month
			  	</a></li>
			  <li><a ng-click="(data.graphActive !== 'all') && graph('all')"
			         ng-class="{'active': data.graphActive === 'all'}"> All
			  </a></li>
			</ul>
			<div class="graph">
				<highchart id="chart1" config="data.chartConfig"></highchart>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="wellp usage">
				<div class="plan">
					<h3>API Calls</h3>
					<span>
						<text ng-bind="commas(data.chart.month)"></text>
						/
						<text ng-bind="commas(data.cap)"></text>
					</span>
					<div class="progress">
					  <div class="progress-bar"
					  	   role="progressbar"
					  	   ng-style="{width: (data.chart.month*100/data.cap) + '%' }">
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 push">
			<div class="wellp usage">
				<div class="plan">
					<div><h3>Vertices</h3>
					<span ng-bind="commas(data.vert)"></span></div>
					
					<div><h3>Edges</h3>
					<span ng-bind="commas(data.edges)"></span></div>
				
				</div>
			</div>
		</div>
	</div>
</div>