<div id="manage" ng-controller="navbar" ng-class="(!$parent.logged || $parent.db_loading || ['dash', 'browser', 'oauth'].indexOf($parent.where())===-1)?'man-hide':'man-show'">
  <div class="container-fluid">
    <div class="title">
        <a ng-href="/developer/apps">{{$parent.devProfile.firstname}}{{$parent.devProfile.firstname ? "'s" : ""}} Applications</a> / {{$parent.currentApp}}
        <div class="right-tools">
            <a href="" ng-click="share($parent.currentApp)" class="delete share">Share</a>
            <a href="" ng-click="deleteApp($parent.currentApp)" class="delete">Delete</a>
        </div>
    </div>
    <nav class="navbar">

    	<ul class="nav navbar-nav navbar-left">
            <li>
                <a ng-href="/developer/{{$parent.currentApp}}/dash"
                   ng-class="{active: $parent.where()==='dash'}">
                   Dashboard
                </a>
            </li>

    		<li>
                <a ng-href="/developer/{{$parent.currentApp}}/browser"
                   ng-class="{active: $parent.where()==='browser'}">
                    Data Browser
                </a>
            </li>

    		<li>
                <a ng-href="/developer/{{$parent.currentApp}}/oauth"
                   ng-class="{active: $parent.where()==='oauth'}">
                    Authentication
                </a>
            </li>
    	</ul>
        <ul class="nav navbar-right">
            <li>
                <span class="fa fa-lock"></span> Secret:
                <span class="secret" ng-show="!secretShown" ng-click="secretShown = true">
                    <span ng-click="secretShown = true">
                    {{$parent.currentSecret[0]}}{{$parent.currentSecret[1]}}<span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span><span class="fa fa-circle"></span>
                    </span>
                </span>
                <span class="secret" ng-show="secretShown">
                    <span ng-bind="$parent.currentSecret" ng-click="secretShown = false"></span>
                    <a href="">Copy</a>
                    </span>
                </span>
            </li>
        </ul>
    </div>
  </div>
</div>