<div class="node">
    <button class="btn btn-xs" ng-hide="!node || node.expanded" ng-click="node.expand()">+</button>
    <button class="btn btn-xs" ng-show="node.expanded" ng-click="node.contract()">-</button>
    <a href="" style="background-color: {{node.color}}" ng-click="node.meAsRoot()">{{node.name}}</a>
    <ul class="propertiesBox" ng-show="node.properties">
        <li class="property" ng-repeat="(prop, val) in node.properties">
            {{prop}}: {{val}}
        </li>
    </ul>
    <ul class="children">
        <li class="child" ng-repeat="node in node.children" ng-include="'html/node.html'"></li>
    </ul>
</div>