<div class="node" xmlns="http://www.w3.org/1999/html">
    <div class="content"  hide-parent ng-mouseover="node.mouse = true;" ng-mouseleave="node.mouse = false;" background-color="node.color">
        <span class="glyphicon glyphicon-plus-sign" ng-hide="!node || node.expanded" ng-click="node.expand()"></span>
        <span class="glyphicon glyphicon-minus-sign" ng-show="node.expanded" ng-click="node.contract()"></span>
        <a href="" ng-click="node.meAsRoot()" ng-bind="node.name"></a> <span ng-show="showPriorities && node.priority" class="badge">Priority: {{node.priority}}</span> <span ng-show="modifyEnabled && node.mouse && node.removeSelfEdge" ng-click="node.removeSelfEdge()" title="Remove edge '{{node.name}}'" class="glyphicon glyphicon-remove"></span>
        <span ng-show="node.isNS" ng-click="node.toggleSearch()" ng-class="node.searchable? 'glyphicon-eye-open text-success' : 'glyphicon-eye-close text-danger';" class="glyphicon tooltipbal" style="cursor: pointer; font-size: 1em" onmouseenter="$(this).tooltip({ trigger: 'hover' })" title="Toggle search" data-toggle="tooltip" data-placement="right">
        </span>
        <ul class="propertiesBox" ng-show="node.properties">
            <form ng-show="modifyEnabled && node.mouse" ng-submit="node.addProperty(newProp, newVal); newProp=''; newVal=''" class="form">
                <div class="row form-group">
                    <div class="col-xs-4">
                        <input ng-required="true" type="text" class="input-sm form-control" ng-model="newProp" placeholder="New Property">
                    </div>
                    <div class="col-xs-1">
                        <span style="font-weight: bolder">: </span>
                    </div>
                    <div class="col-xs-6">
                        <input ng-required="true" type="text" class="input-sm form-control" ng-model="newVal" placeholder="Value">
                    </div>
                    <div class="col-xs-1">
                        <button type="submit" class="form-control"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
            </form>
            <li class="property" ng-repeat="(prop, val) in node.properties | orderBy:'prop'" style="width: 100%;">
                <div class="col-xs-11">
                    &#8226;  {{prop}}: {{val}}
                </div>
                <div ng-show="modifyEnabled && node.mouse" class="col-xs-1">
                    <span ng-click="node.removeProperty(prop)" title="Remove '{{prop}}'" class="glyphicon glyphicon-remove pull-right"></span>
                </div>
            </li>
        </ul>

        <ul ng-show="modifyEnabled && node.mouse" class="children">
            <li class="child" ><button class="btn btn-xs btn-success" ng-click="addEdgeInto(node);">Add Vertex</button></li>
        </ul>
    </div>

    <ul ng-show="node.expanded" class="children">
        <li class="child" ng-repeat="node in node.children" ng-include="'html/node.html'"></li>
    </ul>
</div>