<ul class="nav nav-stacked">
  <li><a href="http://docs.appbase.io">DOCUMENTATION</a></li>
  <li><a ng-click="$parent.goToApps()" href="#" ng-class="{active: $parent.where('')}">MY APPS</a></li>
  <li><a ng-click="$parent.goToInvite()" ng-class="{active: $parent.where('invite')}" href="">INVITE A FRIEND</a></li>
  <!--<li><a ng-click="$parent.goToBilling()" ng-class="{active: $parent.where('billing')}" href="">BILLING</a></li>-->
  <li class="balance">
  	<div class="title">API Credits</div>
  	<div class="value" id="user-balance">0</div>
  </li>
</ul>
