<ul class="nav nav-stacked">
	<li><a ng-href="/developer/#/{{$parent.currentApp}}/stats" ng-class="{active: $parent.where()==='stats'}">DASH</a></li>
  	<li><a ng-href="/developer/#/{{$parent.currentApp}}/browser" ng-class="{active: $parent.where()==='browser'}">BROWSER</a></li>
  	<li><a ng-href="/developer/#/{{$parent.currentApp}}/oauth" ng-class="{active: $parent.where()==='oauth'}">AUTH</a></li>
  <li><a ng-click="$parent.goToInvite()" ng-class="{active: $parent.where()==='invite'}" href="">INVITE</a></li>
  <li><a ng-click="$parent.goToBilling()" ng-class="{active: $parent.where()==='billing'}" href="">BILLING</a></li>
</ul>
